NEXT_PUBLIC_SANITY_PROJECT_ID=vjf62mxg
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
RESEND_API_KEY=
CONTACT_TO_EMAIL=infoclientify@gmail.com
CONTACT_FROM_EMAIL="Triofy Contact <onboarding@resend.dev>"
DATABASE_URL=
CRM_ACCESS_KEY=
